// @import "x-data-spreadsheet/dist/xspreadsheet.css"
//
@import "main";

// override

// .x-spreadsheet {
//     background: var(--background-primary);
// }

div.x-spreadsheet-sheet
    > div.x-spreadsheet-overlayer
    > div
    > div.x-spreadsheet-editor
    > div
    > textarea {
    background-color: #ffffff;
    // background-color: var(--background-primary);

    color: #000000;
    // color: var(--text-normal);
    box-shadow: inherit;
}

// .x-spreadsheet-tooltip {
//     color: var(--text-normal);
//     background: var(--background-primary);
// }

// .x-spreadsheet-color-palette table td:hover {
//     border-color: var(--background-modifier-border-hover);
// }

// .x-spreadsheet-border-palette
//     .x-spreadsheet-border-palette-left
//     .x-spreadsheet-border-palette-cell:hover {
//     background-color: var(--background-primary);
// }

// .x-spreadsheet-resizer .x-spreadsheet-resizer-hover {
//     background-color: rgba(75, 137, 255, 0.25);
// }

// .x-spreadsheet-item {
//     background: var(--background-secondary);

//     color: var(--text-muted);
// }

// .x-spreadsheet-menu > li {
//     color: var(--text-muted);

//     &.active {
//         background-color: var(--background-primary);
//         color: var(--text-normal);
//     }
// }

// .x-spreadsheet-print-bar .-title {
//     color: var(--text-normal);
// }

// .x-spreadsheet-calendar {
//     color: var(--text-normal);
//     background: var(--background-primary);

//     .calendar-body td > .cell.active {
//         background: var(--background-primary);

//         color: var(--text-normal);
//     }

//     .calendar-header {
//         background: var(--background-secondary);

//         .calendar-header-right a:hover {
//             background: rgba(0, 0, 0, 0.08);
//         }
//     }

//     .calendar-body td > .cell {
//         &:hover {
//             background: #ecf6fd;
//         }

//         &.active,
//         &.active:hover {
//             background: #ecf6fd;
//             color: #2185d0;
//         }
//     }
// }

// .x-spreadsheet-datepicker {
//     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
// }

// .x-spreadsheet-button {
//     color: var(--text-muted);
//     background: var(--background-secondary);

//     &.active,
//     &:hover {
//         background-color: var(--background-secondary);
//         color: var(--text-normal);
//     }
// }

// .x-spreadsheet-button.primary {
//     color: var(--text-normal);
//     background-color: var(--background-secondary);

//     &:hover,
//     &.active {
//         color: var(--text-normal);
//         background-color: var(--background-secondary);
//     }
// }

// .x-spreadsheet-form-input {
//     color: rgba(0, 0, 0, 0.87);

//     input {
//         -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
//         background: var(--background-primary);
//         border: 1px solid var(--background-modifier-border-hover);
//         box-shadow: inset 0 1px 2px hsla(0, 0%, 4%, 0.06);

//         &:focus {
//             border-color: #123456;
//             box-shadow: inset 0 1px 2px rgba(12, 34, 56, 0.2);
//         }
//     }
// }

// .x-spreadsheet-form-select {
//     background: #fff;
//     border: 1px solid #e9e9e9;
//     color: rgba(0, 0, 0, 0.87);
//     box-shadow: inset 0 1px 2px hsla(0, 0%, 4%, 0.06);
// }

// .x-spreadsheet-form-field.error .x-spreadsheet-form-select,
// .x-spreadsheet-form-field.error input {
//     border-color: #f04134;
// }
// .x-spreadsheet-form-field .tip {
//     color: #f04134;
// }

// .x-spreadsheet-toolbar,
// .x-spreadsheet-bottombar {

//   background: var(--background-secondary);

// }

// .x-spreadsheet-toolbar-btn {
//     color: var(--text-muted);
//     background: var(--background-secondary);
// }

div.x-spreadsheet {
    overflow: hidden;
}

.x-spreadsheet-dimmer.active {
    display: none;
    z-index: -1;
}
